<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <title>Rekomendacje podróży</title>
</head>
<body>
<div class="container jumbotron">
    <h1 class="display-4">Rekomendacje podróży</h1>
    <hr class="my-4"/>
    <form method="post" th:action="@{/search}" th:object="${searchForm}">
        <div class="form-group">
            <label >Maksymalny koszt podróży</label>
            <input type="text" class="form-control" th:field="*{maxOverallCost}" />
        </div>
        <div class="form-group">
            <label >Maksymalna liczba podróży do sprawdzenia</label>
            <input type="number" class="form-control" th:field="*{limit}">
        </div>
        <div class="form-group">
            <label >Liczba dni</label>
            <div class="row">
                <div class="col">
                    <span>
                        Minimalnie: <input type="number" class="form-control" th:field="*{minDays}">
                    </span>
                </div>
                <div class="col">
                    <span>
                        Maksymalnie: <input type="number" class="form-control" th:field="*{maxDays}">
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Tryb wyszukiwania</label>
            <select class="form-control" th:field="*{searchMode}">
                <option th:each="mode : ${searchModes}" th:value="${mode}" th:text="${mode.label}"/>
            </select>
        </div>
        <div class="form-group">
            <div class="container">
            <div class="row">
                <div class="col">
                    <label >Rozrywka sportowa</label>
                    <select class="form-control" th:field="*{preferences.sports}">
                        <option th:each="i : ${#numbers.sequence( 1, 10)}" th:value="${i}" th:text="${i}"/>
                    </select>
                </div>
                <div class="col">
                    <label >Rozrywki dla dzieci</label>
                    <select class="form-control" th:field="*{preferences.children}">
                        <option th:each="i : ${#numbers.sequence( 1, 10)}" th:value="${i}" th:text="${i}"/>
                    </select>
                </div>
                <div class="col">
                    <label >Życie nocne</label>
                    <select class="form-control" th:field="*{preferences.nightLife}">
                        <option th:each="i : ${#numbers.sequence( 1, 10)}" th:value="${i}" th:text="${i}"/>
                    </select>
                </div>
                <div class="col">
                    <label >Wydarzenia muzyczne</label>
                    <select class="form-control" th:field="*{preferences.music}">
                        <option th:each="i : ${#numbers.sequence( 1, 10)}" th:value="${i}" th:text="${i}"/>
                    </select>
                </div>
                <div class="col">
                    <label >Zabytki</label>
                    <select class="form-control" th:field="*{preferences.sightseeing}">
                        <option th:each="i : ${#numbers.sequence( 1, 10)}" th:value="${i}" th:text="${i}"/>
                    </select>
                </div>
            </div>
                <div class="form-group">
                    <label>Preferowana temperatura (°C)</label>
                    <input th:field="*{preferences.preferedTemperature}" type="text" class="form-control">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Szukaj</button>
    </form>
</div>

</body>
</html>