<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <title>Rekomendacje podróży</title>
</head>
<body>

<div class="container">
    <div >
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Skąd</th>
                <th scope="col">Data wylotu</th>
                <th scope="col">Dokąd</th>
                <th scope="col">Data powrotu</th>
                <th scope="col">Ilość dni</th>
                <th scope="col">Cena przelotu</th>
                <th scope="col">Szacowana cena całkowita</th>
                <th scope="col">Współczynnik atrakcyjności</th>
                <th scope="col">Współczynnik opłacalności</th>
                <th scope="col">Link</th>
                <th scope="col">Info</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="flight,iter : ${flights}">
                <tr>
                    <td th:text="${iter.index+1}"/>
                    <td th:text="${flight.startCity}"/>
                    <td th:utext="${flight.startDateString}"/>
                    <td th:text="${flight.polishCity}"/>
                    <td th:utext="${flight.backDateString}"/>
                    <td th:text="${flight.duration}"/>
                    <td th:text="${#numbers.formatDecimal(flight.price, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    <td th:text="${#numbers.formatDecimal(flight.overallPrice, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    <td th:text="${#numbers.formatDecimal(flight.quality, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    <td th:text="${#numbers.formatDecimal(flight.score, 0, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    <td>
                        <button class="btn btn-primary" th:href="@{${flight.toBuyLink}}" th:text="Kup"/>
                    </td>
                    <td>
                        <button class="btn btn-info" type="button" data-toggle="collapse"
                                th:attr="data-target=${'#collapseExample' + iter.index},aria-controls=${'collapseExample' + iter.index}"
                                aria-expanded="false"
                                th:text="Info"/>
                    </td>
                </tr>
                <tr class="collapse in" th:id="'collapseExample' + ${iter.index}">
                    <td colspan="12" class="border-0">
                        <table class="table border-0">
                            <thead>
                                <tr class="border-0">
                                    <th class="border-0">Koszta</th>
                                    <th class="border-0">Wskaźniki atrakcyjności</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <ul>
                                        <li th:text="'Dzienny koszt posiłków: ' + ${#numbers.formatDecimal(2*flight.priceInCity.mealForTwoPeople, 0, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"/>
                                        <li th:text="'Dzienny koszt zakwaterowania: ' + ${#numbers.formatDecimal(flight.priceInCity.roomPrice, 0, 'DEFAULT', 2, 'DEFAULT')}  + ' zł'"/>
                                        <li th:text="'Dzienny koszt transportu: ' + ${#numbers.formatDecimal(4*flight.priceInCity.ticketPrice, 0, 'DEFAULT', 2, 'DEFAULT')} + ' zł'"/>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li th:text="'Rozrywka sportowa: ' + ${flight.touristicValue.sports}">
                                        <li th:text="'Rozrywki dla dzieci: ' + ${flight.touristicValue.children}">
                                        <li th:text="'Życie nocne: ' + ${flight.touristicValue.nightLife}">
                                        <li th:text="'Wydarzenia muzyczne: ' + ${flight.touristicValue.music}">
                                        <li th:text="'Zabytki: ' +${flight.touristicValue.sightseeing}">
                                        <li th:text="'Jakość życia: ' +${flight.qualityOfLife}">
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>